<div class="row g-2 my-3">
  <div class="col">
    <mat-card class="gradient-green tile p-2">
      <mat-icon>monetization_on</mat-icon>
      <h2>$33500</h2>
      <p>profit</p>
    </mat-card>
  </div>
  <div class="col">
    <mat-card class="gradient-purple tile p-2">
      <mat-icon>monetization_on</mat-icon>
      <h2>$33500</h2>
      <p>profit</p>
    </mat-card>
  </div>
  <div class="col">
    <mat-card class="gradient-indigo tile p-2">
      <mat-icon>monetization_on</mat-icon>
      <h2>$33500</h2>
      <p>profit</p>
    </mat-card>
  </div>
  <div class="col">
    <mat-card class="gradient-blue tile p-2">
      <mat-icon>monetization_on</mat-icon>
      <h2>$33500</h2>
      <p>profit</p>
    </mat-card>
  </div>
  <div class="col">
    <mat-card class="gradient-orange tile p-2">
      <mat-icon>monetization_on</mat-icon>
      <h2>$33500</h2>
      <p>profit</p>
    </mat-card>
  </div>
  <div class="col">
    <mat-card class="gradient-brown tile p-2">
      <mat-icon>monetization_on</mat-icon>
      <h2>$33500</h2>
      <p>profit</p>
    </mat-card>
  </div>
  <div class="col">
    <mat-card class="gradient-pink tile p-2">
      <mat-icon>monetization_on</mat-icon>
      <h2>$33500</h2>
      <p>profit</p>
    </mat-card>
  </div>
  <div class="col">
    <mat-card class="gradient-red tile p-2">
      <mat-icon>monetization_on</mat-icon>
      <h2>$33500</h2>
      <p>profit</p>
    </mat-card>
  </div>
  <div class="col">
    <mat-card class="gradient-amber tile p-2">
      <mat-icon>monetization_on</mat-icon>
      <h2>$33500</h2>
      <p>profit</p>
    </mat-card>
  </div>
  <!-- <div class="col">
    <mat-card class="gradient-teal tile p-2">
      <mat-icon>monetization_on</mat-icon>
      <h2>$33500</h2>
      <p>profit</p>
    </mat-card>
  </div> -->
</div>
