.trade-calculator-window {
  .header {
    padding: 10px 10px 0;
    // ::ng-deep .mat-mdc-form-field-subscript-wrapper {
    //   display: none !important;
    // }
    .search-field {
      width: 100%;
      .autocomplete-pane {
        border-left: 1px solid #7b1fa2 !important;
      }
      ::ng-deep .mat-mdc-text-field-wrapper .mat-mdc-form-field-input-control {
        font-size: 30px !important;
        cursor: default;
        border: 0;
      }
    }
  }
  mat-dialog-content {
    padding: 0;
    mat-tab-group {
      width: 800px;
      .tab-body {
        padding: 10px;
        mat-form-field {
          width: 100%;
        }
        .input-value {
          margin-top: 10px;
          justify-content: space-between;
        }
        .result-value {
          margin-top: 10px;
          justify-content: space-between;
        }
      }
    }
  }
  .mat-mdc-dialog-actions {
    padding: 0 20px 20px !important;
  }
}

// ::ng-deep .mat-mdc-text-field-wrapper .mat-mdc-form-field-input-control {
//   // font-size: 30px !important;
//   cursor: default;
//   border: 0;
// }

// ::ng-deep
//   .mdc-text-field--filled:not(.mdc-text-field--disabled)
//   .mdc-text-field__input.mat-mdc-autocomplete-trigger {
//   color: #fff !important;
//   border: 0;
// }

::ng-deep
  .mdc-text-field--no-label:not(.mdc-text-field--textarea)
  .mat-mdc-form-field-input-control.mdc-text-field__input {
  caret-color: white;
}

// Manipulate initial background color
::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent !important;
}

// Manipulate background color on hover and focus
::ng-deep .mat-mdc-form-field-focus-overlay {
  background-color: transparent !important;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
  // display: none;
}

::ng-deep .cdk-overlay-pane.mat-mdc-dialog-panel {
  max-width: 100vw !important;
}

::ng-deep mat-slide-toggle {
  --mdc-switch-unselected-handle-color: rgb(255, 0, 0) !important;
  --mdc-switch-unselected-pressed-handle-color: rgb(255, 0, 0) !important;
  --mdc-switch-unselected-pressed-state-layer-color: green !important;
  --mdc-switch-unselected-hover-state-layer-color: rgb(255, 0, 0) !important;
  --mdc-switch-unselected-hover-handle-color: rgb(255, 0, 0);
  --mdc-switch-unselected-focus-state-layer-color: rgb(
    249,
    150,
    150
  ) !important;
  --mdc-switch-unselected-focus-handle-color: rgb(255, 0, 0) !important;
  --mdc-switch-unselected-track-color: rgb(249, 150, 150) !important;
  --mdc-switch-unselected-pressed-track-color: rgb(249, 150, 150) !important;
  --mdc-switch-unselected-hover-track-color: rgb(249, 150, 150) !important;
  --mdc-switch-unselected-focus-track-color: rgb(249, 150, 150) !important;
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .trade-calculator-window {
    mat-dialog-content {
      mat-tab-group {
        .tab-body {
          .mat-mdc-form-field {
            width: 100%;
          }
        }
      }
    }
  }
}
