@import "app/themes/styles/mixins";
@import "app/themes/styles/theme";
@import "app/themes/styles/gradients";
// .mat-form-field {
//   border-bottom: 0px;
//   // background-color: transparent;
// }
//Changing The Default Settings..

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
